<?xml version="1.0" encoding="utf-8" ?><configuration>  <sitecore>    <commands>      <command name="smarttools:showAddVersionAndCopy" type="Sitecore.SharedSource.SmartTools.Commands.CreateContentFactory,Sitecore.SharedSource.SmartTools" />      <command name="PublishApi:checkstatus" type="Sitecore.SharedSource.SmartTools.Commands.CreateContentFactory,Sitecore.SharedSource.SmartTools" />    </commands>  </sitecore></configuration>