<?xml version="1.0" encoding="utf-8" ?><configuration>  <sitecore>    <commands>      <command name="contentfactory:createContent" type="Sitecore.ContentFactory.SmartTools.Commands.CreateContentFactory,Sitecore.ContentFactory.SmartTools" />      <command name="PublishApi:checkstatus" type="Sitecore.ContentFactory.SmartTools.Commands.CreateContentFactory,Sitecore.ContentFactory.SmartTools" />        </commands>  </sitecore></configuration>

